################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eWolfCloneAndPack/.vs/eWolfCloneAndPack
/eWolfCloneAndPack/bin/Debug/net6.0
/eWolfCloneAndPack/obj
/.vs/eWolfCloneAndPack/v17
/.vs/eWolfCloneAndPack/DesignTimeBuild
